@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #00333d;
  font: 500 100%/1 'DM Sans', -apple-system, Helvetica, sans-serif;
  margin: 0;
  text-rendering: geometricPrecision;
}

h1,
h2 {
  letter-spacing: -0.03em;
  margin: 0;
}

/* logs */

#logs {
  background: white;
  border-radius: 1rem;
  box-shadow: 0px 1rem 2rem -1rem #0005;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2rem);
  right: 1rem;
  max-width: 24rem;
  overflow-y: scroll;
  padding: 1rem;
  position: absolute;
  top: 1rem;
}
#logs-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.fa-circle-xmark {
  cursor: pointer;
  font-size: 2rem;
  opacity: 0.3;
}
.fa-circle-xmark:hover {
  opacity: 1;
}
.log {
  align-items: baseline;
  border-bottom: 1px solid #eee;
  display: flex;
  font-size: 12px;
  gap: 0.5rem;
  padding: 0.5rem 0;
}
.log h2 {
  font-size: inherit;
  margin: unset;
  max-width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.log-time {
  flex: 1;
  opacity: 0.3;
  text-align: right;
}
.edit {
  color: #da0;
}
.error {
  color: #d04;
}

#logs:hover .log {
  opacity: 0.3;
}
#logs:hover .log:hover {
  opacity: 1;
}

/* cards */

body {
  background: #e9f3ee;
  margin: 0 auto;
  max-width: 1440px;
  padding: 2rem;
}

header {
  background: transparent url('https://source.unsplash.com/8kDOOrs608I/1200x300') no-repeat center / cover;
  border-radius: 1rem;
  box-shadow: 0px 1rem 2rem -1rem #0005;
  color: white;
  display: flex;
  flex-direction: column;
  height: 16rem;
  justify-content: end;
  overflow: hidden;
  padding: 1.5rem;
  padding: 1.5rem;
  position: relative;
}
header::before {
  background: linear-gradient(#f2f73d11, #f2f73d66);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
header > * {
  position: relative;
}

#breadcrumbs {
  display: flex;
  margin: 2rem 0;
}
.breadcrumb {
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.03em;
}
.breadcrumb:not(:first-child)::before {
  content: '/';
  margin: 0 1rem;
  opacity: 0.3;
}
.breadcrumb:hover {
  color: #00b398;
}

/* cards */

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  background: transparent url('https://source.unsplash.com/Nyvq2juw4_o/400x300') no-repeat center / cover;
  border-radius: 1rem;
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: column;
  flex: 1 0 20rem;
  height: 16rem;
  justify-content: end;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
}
.card::before {
  background: linear-gradient(#00b398cc, #00333dcc);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.5s;
}
.card > * {
  position: relative;
}
.card:hover::before {
  opacity: 0;
}
.card-name {
  font-size: 2rem;
}
.card-desc {
  font-size: 15px;
  line-height: 1.2;
  opacity: 0.5;
}
.card-langs {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
.card-lang {
  background: #fff3;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.1em;
  overflow: hidden;
  padding: 4px 6px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.card.plan {
  height: 20rem;
}
.card.plan::before {
  background: linear-gradient(#ff7aa1cc, #00333dcc);
}

/* stage */

#stage {
  -webkit-backdrop-filter: blur(4px);
  align-items: center;
  backdrop-filter: blur(4px);
  background: #00333daa;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.iphone-14 {
  background: white;
  border-radius: 2.5rem;
  height: 844px;
  overflow: hidden;
  padding: 1.5rem;
  width: 390px;
  word-wrap: break-word;
}
